/*@font-face {
    font-family: "nueu-roman";
    src: url('NHaasGroteskTXPro-55Rg.ttf'); ig this is the fake one
}
*/
body {
    font-family: 'Source Sans Pro', Times;
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: Silver;
}

button {
    font-family: adobe-garamond-pro,"Roboto", sans-serif;
/*    font-family: "nueu-roman";*/
/*    background-color: #3f3f3f;*/
    background-color: dimgray;
    border: none;
/*    color: #d5cdbf;*/
    color: #fff;
    padding: 2px 40px 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}
